<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div *ngIf='item'>
  <strong>
    <span>{{item?.by}}</span>
  </strong>
  <span>{{(item?.time | amFromUnix) | amTimeAgo }}</span>
  <span class="collapsing" (click)="collapse = !collapse">[{{collapse ? '+' : '-'}}]</span>
  <div [hidden]="collapse">
  <p>
    <span *ngIf='item.deleted'>Comment Deleted</span>
    <span *ngIf='!item.deleted'>{{item?.text}}</span>
  </p>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let subComment of item?.kids">
      <app-comment [comment]="subComment"></app-comment>
    </li>
  </ul>
</div>
</div>