<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<div>
  <ol class="list-group">
    <li class="list-group-item" *ngFor="let item of items | slice:0:50">
      <app-item [itemID]='item'></app-item>
    </li>
  </ol>
</div>