.navbar {
    background-color: rgb(247, 101, 17)!important;
}

.btn-outline-success {
    color: rgba(255, 166, 0, 0.849);
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-success:hover {
    background-color: rgba(255, 166, 0, 0.849);
    color: #fff;
}