<div *ngIf="item">
  <p>
    <a class="title" href="{{item.url}}" target="_blank">
      {{item?.title}}
    </a>
  </p>
  <div>
    {{item.score}} points by
    <strong><a href="">{{item.by}}</a></strong>
    {{(item.time | amFromUnix) | amTimeAgo }}
    <strong> <a [routerLink]="['/item', item.id]">
        <span *ngIf="item.descendants !== 0">
          {{item.descendants}}
          <span *ngIf="item.descendants === 1">comment</span>
          <span *ngIf="item.descendants > 1">comments</span>
        </span>
        <span *ngIf="item.descendants === 0">discuss</span>
      </a>
    </strong>
  </div>
</div>